In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('unique_links.csv')
df.head()

,Unnamed: 0,TABELA_DESTINO,TABELA_ORIGEM,TABELA_ORIGEM_SISTEMA,SISTEMA,ASSUNTO
0,0,RL_CPE_CLIENTES,STG_CPE_CCLIE,CCLIE,EMPRESTIMO PESSOAL,CREDITO PESSOAL
1,32,RL_CPE_MODALIDADE,STG_CPE_TMODA,TMODA,EMPRESTIMO PESSOAL,CREDITO PESSOAL
2,64,RL_CPE_MOTIVO_ACORDO,STG_CPE_TMOTI,TMOTI,EMPRESTIMO PESSOAL,CREDITO PESSOAL
3,69,RL_CPE_MOV_FINANCEIRA,STG_CPE_EFINA,EFINA,EMPRESTIMO PESSOAL,CREDITO PESSOAL
4,74,RL_CPE_MOV_FINANCEIRA,NaN,EFINA,EMPRESTIMO PESSOAL,CREDITO PESSOAL

In [3]:
df = df[df.columns[1:]]
df.head()

,TABELA_DESTINO,TABELA_ORIGEM,TABELA_ORIGEM_SISTEMA,SISTEMA,ASSUNTO
0,RL_CPE_CLIENTES,STG_CPE_CCLIE,CCLIE,EMPRESTIMO PESSOAL,CREDITO PESSOAL
1,RL_CPE_MODALIDADE,STG_CPE_TMODA,TMODA,EMPRESTIMO PESSOAL,CREDITO PESSOAL
2,RL_CPE_MOTIVO_ACORDO,STG_CPE_TMOTI,TMOTI,EMPRESTIMO PESSOAL,CREDITO PESSOAL
3,RL_CPE_MOV_FINANCEIRA,STG_CPE_EFINA,EFINA,EMPRESTIMO PESSOAL,CREDITO PESSOAL
4,RL_CPE_MOV_FINANCEIRA,NaN,EFINA,EMPRESTIMO PESSOAL,CREDITO PESSOAL

In [4]:
df.loc[:,'SISTEMA'] = df['SISTEMA'].apply(lambda x: x.replace(' ','_') if type(x) == str else '')
df.loc[:,'ASSUNTO'] = df['ASSUNTO'].apply(lambda x: x.replace(' ','_') if type(x) == str else '')
df.head()

,TABELA_DESTINO,TABELA_ORIGEM,TABELA_ORIGEM_SISTEMA,SISTEMA,ASSUNTO
0,RL_CPE_CLIENTES,STG_CPE_CCLIE,CCLIE,EMPRESTIMO_PESSOAL,CREDITO_PESSOAL
1,RL_CPE_MODALIDADE,STG_CPE_TMODA,TMODA,EMPRESTIMO_PESSOAL,CREDITO_PESSOAL
2,RL_CPE_MOTIVO_ACORDO,STG_CPE_TMOTI,TMOTI,EMPRESTIMO_PESSOAL,CREDITO_PESSOAL
3,RL_CPE_MOV_FINANCEIRA,STG_CPE_EFINA,EFINA,EMPRESTIMO_PESSOAL,CREDITO_PESSOAL
4,RL_CPE_MOV_FINANCEIRA,NaN,EFINA,EMPRESTIMO_PESSOAL,CREDITO_PESSOAL

In [5]:
df.iloc[100,:].copy()

TABELA_DESTINO                                    RL_JUR_CIVEL_CADASTRADOS
TABELA_ORIGEM                                       RL_JUR_TBL_FUNCIONARIO
TABELA_ORIGEM_SISTEMA    RL_JUR_TBL_COMARCA;RL_JUR_TBL_ESCRITORIO;RL_JU...
SISTEMA                                                           JURIDICO
ASSUNTO                                                           JURIDICO
Name: 100, dtype: object

In [6]:
lista_de_dicts = []

In [7]:
df['TABELA_ORIGEM_SISTEMA'].apply(type).value_counts()

<class 'str'>      1624
<class 'float'>     136
Name: TABELA_ORIGEM_SISTEMA, dtype: int64

In [8]:
for linha in range(df.shape[0]):
    cur_linha = df.iloc[linha,:].copy()
    try:
        lista_de_origens = cur_linha['TABELA_ORIGEM_SISTEMA'].split(';')
    except:
        lista_de_origens = [cur_linha['TABELA_ORIGEM_SISTEMA']]
    for origem in lista_de_origens:
        dictnovo = cur_linha.copy()
        dictnovo['TABELA_ORIGEM_SISTEMA'] = origem
        lista_de_dicts.append(dictnovo)

In [9]:
df2 = pd.DataFrame(lista_de_dicts)

In [10]:
df2.head()

,TABELA_DESTINO,TABELA_ORIGEM,TABELA_ORIGEM_SISTEMA,SISTEMA,ASSUNTO
0,RL_CPE_CLIENTES,STG_CPE_CCLIE,CCLIE,EMPRESTIMO_PESSOAL,CREDITO_PESSOAL
1,RL_CPE_MODALIDADE,STG_CPE_TMODA,TMODA,EMPRESTIMO_PESSOAL,CREDITO_PESSOAL
2,RL_CPE_MOTIVO_ACORDO,STG_CPE_TMOTI,TMOTI,EMPRESTIMO_PESSOAL,CREDITO_PESSOAL
3,RL_CPE_MOV_FINANCEIRA,STG_CPE_EFINA,EFINA,EMPRESTIMO_PESSOAL,CREDITO_PESSOAL
4,RL_CPE_MOV_FINANCEIRA,NaN,EFINA,EMPRESTIMO_PESSOAL,CREDITO_PESSOAL

In [25]:
cons1 = df2[['TABELA_DESTINO','TABELA_ORIGEM']].dropna()
cons1.columns = ['target','source']
cons2 = df2[['TABELA_DESTINO','TABELA_ORIGEM_SISTEMA']].dropna()
cons2.columns = ['target','source']
cons3 = df2[['TABELA_ORIGEM','TABELA_ORIGEM_SISTEMA']].dropna()
cons3.columns = ['target','source']

df_cons = pd.concat([cons1,cons2,cons3])

In [26]:
df_cons.head()

                  target         source
0        RL_CPE_CLIENTES  STG_CPE_CCLIE
1      RL_CPE_MODALIDADE  STG_CPE_TMODA
2   RL_CPE_MOTIVO_ACORDO  STG_CPE_TMOTI
3  RL_CPE_MOV_FINANCEIRA  STG_CPE_EFINA
5   RL_CPE_MOV_OPERACOES  STG_CPE_EMOV1

In [98]:
df_cons['frequencia_H'] = [randint(1,50) for n in range(df_cons.shape[0])]
df_cons['protocolo'] = [choice(['JDBC','Bluetooth','USB3.0','DVD','Fuma√ßa']) for n in range(df_cons.shape[0])]

In [15]:
node1 = df2[['TABELA_DESTINO']]
node1['SISTEMA'] = 'BI_ODS'
node1.columns = ['NOME','SISTEMA']
node1.drop_duplicates(inplace = True)
node2= df2[['TABELA_ORIGEM']]
node2['SISTEMA'] = 'BI_STAGE'
node2.columns = ['NOME','SISTEMA']
node2.drop_duplicates(inplace = True)
node3= df2[['TABELA_ORIGEM_SISTEMA','SISTEMA']].drop_duplicates()
node3.columns = ['NOME','SISTEMA']

C:\Users\pedro\.conda\envs\pedro\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\pedro\.conda\envs\pedro\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\pedro\.conda\envs\pedro\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\pedro\.conda\envs\pedro\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
df3 = pd.concat([node1,node2,node3])

In [54]:
df3['id'] = df3['SISTEMA']+'.'+df3['NOME']
df3.rename(columns={'SISTEMA':'PLATAFORMA'}, inplace = True)

In [60]:
df3.head()

                    NOME PLATAFORMA                            id
0        RL_CPE_CLIENTES     BI_ODS        BI_ODS.RL_CPE_CLIENTES
1      RL_CPE_MODALIDADE     BI_ODS      BI_ODS.RL_CPE_MODALIDADE
2   RL_CPE_MOTIVO_ACORDO     BI_ODS   BI_ODS.RL_CPE_MOTIVO_ACORDO
3  RL_CPE_MOV_FINANCEIRA     BI_ODS  BI_ODS.RL_CPE_MOV_FINANCEIRA
5   RL_CPE_MOV_OPERACOES     BI_ODS   BI_ODS.RL_CPE_MOV_OPERACOES

In [77]:
def randict():
    dcols = ['col','dtype','descr','null','LGPD']
    curd = pd.DataFrame(columns=dcols)
    size = randint(5,100)
    curd['col'] = [choice(lista_col) for x in range(size)]
    curd['dtype'] = [choice(lista_dtypes) for x in range(size)]
    curd['descr'] = [choice(lista_descr) for x in range(size)]
    curd['null'] = [choice(lista_sn) for x in range(size)]
    curd['LGPD'] = [choice(lista_LGPD) for x in range(size)]
    curd['assunto'] = [list(set([choice(assuntos_dict) for n in range(randint(1,5))])) for n in range(size)]

    curd.drop_duplicates(subset='col', inplace = True)
    return curd

In [59]:
assuntos_dict = ['clima','mercado','comida','viagens','sexo']

In [93]:
assuntos_nos = list(df2['ASSUNTO'].unique())

In [35]:
lista_dtypes = ['VARCHAR','FLOAT','INTEGER','BOOL']
lista_sn = ['S','N']
lista_LGPD = ['G','P','S']
lista_descr = pd.read_excel('lista_frases.xlsx',sheet_name = 's1').squeeze()
lista_col = pd.read_excel('lista_frases.xlsx',sheet_name = 's2').squeeze()

In [62]:
df3['DESCR'] = [choice(lista_descr) for n in range(df3.shape[0])]
df3['CONJUNTO'] = [choice(df2['ASSUNTO'].unique()) for n in range(df3.shape[0])]
df3['CAMINHO'] = df3['id']
df3['DESCR'] = [choice(lista_descr) for n in range(df3.shape[0])]
df3['ASSUNTO'] = [list(set([choice(assuntos_nos) for n in range(randint(1,5))])) for n in range(df3.shape[0])]

df3['DICIONARIO'] = [randict() for n in range(df3.shape[0])]

In [92]:
#df3.drop_duplicates(subset=['id']).to_json('teste_com_dict2.json',orient='records')